<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqXzpYg1gp5FZQeDLXEqE4ZPmA3EY_MW4</string>
	<key>GCM_SENDER_ID</key>
	<string>206503856927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aleksandra.TaskMind</string>
	<key>PROJECT_ID</key>
	<string>taskmind-98fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmind-98fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206503856927:ios:d621a3381bf2d441affe2a</string>
</dict>
</plist>